<html>

<head>
    <title>My Resume</title>
</head>

<body style="border:solid 1px;">

    <h1 ALIGN="center">Resume</h1>

    <table>

        <tr>
            <th ALIGN="LEFT">NAME</th>
            <td>:Rutuja Shantaram Nandiwadekar</td>
        </tr>

        <tr>
            <th ALIGN="LEFT">ADDRESS</th>
            <td>:201,ARV park,Sawarde,Chiplun,Ratnagiri</td>
        </tr>

        <tr>
            <th ALIGN="LEFT">PINCODE</th>
            <td>:210 678</td>
        </tr>

        <tr>
            <th ALIGN="LEFT">MOBILE NUMBER</th>
            <td>:7264920645</td>
        </tr>

        <tr>
            <th ALIGN="LEFT">E-MAIL</th>
            <td>:nandiwadekarrutuja@gmail.com</td>
        </tr>
    </table>
    <HR>

    <ul>
        <li>
            <H3>ACADEMIC DETAILS:</H3>
        </li>

        <table>

            <tr>
                <th>Course</th>
                <th>School/College</th>
                <th>Year</th>
                <th>Marks</th>
            </tr>
            <tr>
                <td>TE IT</td>
                <td>Finolex Academy Of Management And Technology</td>
                <td>2021</td>
                <td>65</td>
            </tr>
            <tr>
                <td>HSC</td>
                <td>Dyandeep Vidya Mandir, Khed</td>
                <td>2017</td>
                <td>70</td>
            </tr>
            <tr>
                <td>SSC</td>
                <td>Govindraw Nikam VidyalaY, Sawarde</td>
                <td>2015</td>
                <td>88</td>
            </tr>
        </table>
    </ul>

    <HR>

    <ul>
        <li>
            <H3>TECHNICAL SKILLS:</H3>
        </li>
        <ul>
            <li>Good in Java, JavaScript, HTML, CSS</li>
            <li>Familiar with MS Excel, MS power point, MS word</li>
        </ul>
    </ul>

    <hr>


    <ul>
        <li>
            <H3>PERSONAL INFORMATION:</H3>
        </li>
        <ul>
            <li><b>Father's Name:</b>Shantaram Gangaram Nandiawdaekar.</li>
            <li><b>Date of Birth:</b>01 December 1998</li>
            <li><b>Languages Known:</b>Marathi, Engilsh, Hindi</li>
            <li><b>Nationality:</b>Indian</li>
        </ul>
    </ul>

</body>

</html>